<section class="saved-questions">
  {{#each questionList.items as |item|}}
  <div class="saved">
    <h2>{{#link-to 'question' question.id}}{{item.content}}{{/link-to}}</h2>
    <button {{action 'remove' item}}>Remove This Question</button>
  </div>
  {{else}}
  <p>You have no saved Questions, yet!</p>
  {{/each}}

  <button {{action 'empty'}}>Empty your List</button>
</section>
