
nav {
  display: flex;
  justify-content: flex-end;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url('../img/gradient.jpg');
  ul {
    display: flex;
    li {
      margin-right: 40px;
      margin-top: 15px;
      list-style-type: none;
      font-size: 1.2em;
      text-transform: uppercase;
    }
    a {
      text-decoration: none;
      color: #213563;
    }
  }
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  background-image: url('../img/gradient.jpg');
  .intro {
    margin: 2% 0;
    background-color: #213563;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 70px;
    color: white;
    h1 {
      font-size: 2.8em;
      text-align: center;
      margin-bottom: 0;
    }
    h3 {
      letter-spacing: 4px;
      text-align: center;
    }
  }
  .main-content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10%;
    .question-tile {
      padding: 20px;
      width: 45%;
      margin: auto;
      background-color: transparentize(white, .4);
      .ember-view {
        height: 250px;
        display: flex;
        flex-direction: column;
        h4  {
          text-transform: uppercase;
          margin-bottom: 0;
          text-align: center;
        }
        h2 {
          text-align: center;
          text-transform: capitalize;
        }
        button {
          width: 100%;
          background: white;
          border: 2px solid black;
          height: 18%;
          margin-top: auto;
          padding: 3%;
          &:hover {
            background-color: #213563;
          }
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: black;
            font-size: 1.2em;
          &:hover {
            color: white;
          }
          }
        }
        #add-button {
          text-decoration: none;
          text-transform: uppercase;
          color: black;
          font-size: .9rem;
          margin-top: 8px;
          &:hover {
            color: white;
          }
        }
        img {
          width: 30px;
          margin-right: 10px;
        }
      }
    }
    .add {
      display: flex;
      height: 30%;
      justify-content: center;
      width: 100%;
      padding: 5%;
      .ember-view {
        width: 100%;
        display: flex;
        justify-content: center;
        button {
          width: 60%;
          height: 45px;
          background: white;
          border: 2px solid black;
          text-transform: uppercase;
          font-size: 1em;
          &:hover {
            background-color: #213563;
            color: white;
          }
        }
        form {
          display: flex;
          align-items: center;
          label {
            margin: 10px;
            font-size: 1.2em;
            text-transform: uppercase;
          }
          input {
            height: 25px;
            font-size: 1.1em;
          }
          button {
            margin: 5px;
            &:hover {
              background-color: #213563;
              color: white;
            }
          }
        }
      }
    }
  }
  .question-content {
    margin-top: 5%;
    padding: 5%;
    background-color: transparentize(white, .4);
    text-align: center;
    text-transform: capitalize;
    .add-answer {
      margin-top: 5%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .ember-view {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        button {
          width:50%;
          height: 45px;
          background: white;
          border: 2px solid black;
          text-transform: uppercase;
          font-size: 1rem;
          margin: auto;
          &:hover {
            background-color: #213563;
            color: white;
          }
        }
        form {
          display: flex;
          align-items: center;
          label {
            margin: 10px;
            font-size: 1.2em;
            text-transform: uppercase;
          }
          input {
            height: 25px;
            font-size: .7em;
          }
          button {
            margin: 5px;
            font-size: 1rem;
            &:hover {
              background-color: #213563;
              color: white;
            }
          }
        }
      }
    }
  }
  .answer-content {
    display: flex;
    flex-wrap: wrap;
    .ember-view {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 45%;
      font-size: 1.3em;
      text-transform: capitalize;
      h4 {
        margin: 2% 0 0 0;
      }
      button {
        width: 60%;
        height: 45px;
        background: white;
        border: 2px solid black;
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 5%;
        &:hover {
          background-color: #213563;
          color: white;
        }
      }
    }
  }
  .admin-edit {
    padding: 5%;
    margin-top: 5%;
    text-transform: capitalize;
    button {
      width: 30%;
      height: 30px;
      background: white;
      border: 2px solid black;
      text-transform: uppercase;
      font-size: .8rem;
      margin-bottom: 2%;
      &:hover {
        background-color: #213563;
        color: white;
      }
    }
  }
  .saved-questions {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .saved {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      &:last-of-type {
        margin-bottom: 5%;
      }
      a {
        text-transform: capitalize;
        text-decoration: none;
        color: #213563;
      }
      }
      button {
        width: 40%;
        height: 45px;
        background: white;
        border: 2px solid black;
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 5%;
        &:hover {
          background-color: #213563;
          color: white;
        }
    }
  }
}
