
  <section class="admin-question">
    {{#each model as |question|}}
    <h2>{{question.author}}</h2>
    <p>{{question.content}}</p>
    {{delete-question question=question destroyQuestion="destroyQuestion"}}
  </section>
  <section class="admin-update">
  {{update-question question=question update="update"}}
  {{/each}}
</section>
