
<section class="admin-edit">
  {{#each model as |question|}}
  <h2>{{question.author}}</h2>
  <p>{{question.content}}</p>
  {{delete-question question=question destroyQuestion="destroyQuestion"}}
  {{update-question question=question update="update"}}
  {{/each}}
</section>
