<nav>
  <ul>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
  </ul>
</nav>
<header>
  <h1>Message Board</h1>
</header>
<div class="wrapper">
  {{outlet}}
</div>
