<nav>
  <ul>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'list'}}Saved list of Questions{{/link-to}}</li>
    <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
  </ul>
</nav>
<div class="wrapper">
  {{outlet}}
</div>
